body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
  }

.sphere {
    fill: blue;
}

.country {
    stroke: black;
    stroke-width: 0.3px;
}

.country:hover {
    fill: red;
}

.white {
    fill: white;
}